<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Example</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>


    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
          <ul class=flashes>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

        <form action="/login" method="post">
            <div class="login_view">
                <h1>Вход</h1>
                Email 
                <div class="email">
                    <input type="email" name="email" id="email" value="email@mail.ru">
                </div>
                Password
                <div class="password">
                    <input type="password" name="password" id="password">
                </div>
                <button type="submit" class="btn">Войти</button>
            </div>
        </form>
    </div>
    <div class="users_list">
        {% for user in users %}
            <p>{{ user['id'] }} | {{ user['name'] }} | {{ user['email'] }} | {{ user['password'] }}</p>
            <br>
        {% endfor %}
    </div>
    
</body>
</html>